/* CSS declarations go here */
html,
body,
.container {
	background: #000000 !important;
	color: #ffffff !important;
}

hr {
	background: yellow;
}

.WCFileInput {
	display: none !important;
}

.modal-title,
#delModal,
.blackText {
	color: black;
}

#teamName1,
#teamName2 {
	border: none;
}

.matches {
	border: 2px solid white;
}

.matches {
	cursor: pointer;
}

.votedForTeam {
	background: sandybrown;
}

.versus {
	margin-top: 40%;
}

.boxedIn {
	border: 1px solid white;
}

.legends {
	font-family: 'Gaegu', cursive !important;
	font-size: 4rem !important;
}

.loginForm {
	display: flex;
	flex-direction: column;
	height: 100%;
	/* justify-content: center; */
	/* align-items: center; */
	border-radius: 15px;
}

.loginForm>div>input {
	flex-grow: 1;
	box-sizing: border-box;
	padding: 6px 10px;
	background: white;
	border: 1px solid #aaa;
	width: 100%;
	font-size: 1.1em;
	margin-top: 4px;
}

.loginForm>div>input:focus {
	outline: 0;
}

.errorBox {
	border: 5px solid red !important;
}

.myCorner {
	border-radius: 15px;
}

.js-delVote {
	cursor: pointer;
}